<?xml version="1.0" encoding="UTF-8"?>
<chapter version="5.0" xmlns="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns:m="http://www.w3.org/1998/Math/MathML"
         xmlns:html="http://www.w3.org/1999/xhtml"
         xmlns:db="http://docbook.org/ns/docbook">
  <title>Routes</title>

  <section>
    <title>Einstieg</title>

    <para>In <xref linkend="dynamische_webseiten" /> hatten wir schon mal kurz
    Kontakt mit Routes. In diesem Kapitel werden wir einen intensiveren Blick
    in die Routing-Möglichkeit werfen. Mit Routen werden abgerufene URLs zu
    bestimmten Code in der Rails Applikation geleitet. Weiterhin können damit
    Variablen definiert werden, die aus der Applikation aufgerufen
    werden.</para>
  </section>

  <section>
    <title>Weitere Dokumentation</title>

    <para>Folgende Webseiten geben Ihnen einen tieferen Einblick in das Thema
    Routes:<itemizedlist>
        <listitem>
          <para><uri
          xlink:href="http://guides.rubyonrails.org/routing.html">http://guides.rubyonrails.org/routing.html</uri></para>
        </listitem>

        <listitem>
          <para><uri
          xlink:href="http://railscasts.com/episodes/203-routing-in-rails-3">http://railscasts.com/episodes/203-routing-in-rails-3</uri></para>
        </listitem>

        <listitem>
          <para><uri
          xlink:href="http://yehudakatz.com/2009/12/26/the-rails-3-router-rack-it-up/">http://yehudakatz.com/2009/12/26/the-rails-3-router-rack-it-up/</uri></para>
        </listitem>

        <listitem>
          <para><uri
          xlink:href="http://rizwanreza.com/2009/12/20/revamped-routes-in-rails-3">http://rizwanreza.com/2009/12/20/revamped-routes-in-rails-3</uri></para>
        </listitem>
      </itemizedlist></para>
  </section>
</chapter>
